.hljs-string, .hljs-literal, .hljs-number {
    color: var(--md-code-hl-string-color);
}
.hljs-comment {
    color: var(--md-code-hl-comment-color);
}

label {
    cursor: pointer;
}

.configurator input:not(:checked) + label {
    opacity: 0.7;
}
